<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GameCatcher::Your Personal Game Manager</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="retro-screen">
    <div>
        <div class="title-1 flicker">GAME</div>
        <div class="title-2 flicker">CATCHER</div>
    </div>

<div class="sub-title">CAPTURE YOUR GAME<br>
CATCH YOUR MOMENT </div>

<div class="start-text ">
    <div class="enter-key">S</div> to Sign Up, <div class="enter-key">SPACE</div> to Log In
</div>
 <script>
    document.addEventListener('keydown', function(e) {
      // "S" 키로 Sign Up 페이지 이동
      if (e.code === 'KeyS') {
        window.location.href = '/signup';
      }
      // "SPACE" 키로 Log In 페이지 이동
      else if (e.code === 'Space') {
        window.location.href = '/login';
      }
    });
  </script>

</body>
</html>
